# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
dist/
build/

# =========================
# Virtual Environment
# =========================
.venv/
venv/

# =========================
# IDE / Editor
# =========================
.idea/
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db